body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* main header */
.main-header {
  height: 32px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* toggle bar -- menu */
.toggle-menu {
  position: fixed;
  right: 4%;
  top: 2%;
  cursor: pointer;
  z-index: 3;
}

.toggle-menu__bar {
  background: #cecece;
  box-shadow: 0px 0 2px 2px rgba(0, 0, 0, 0.6);
  width: 1.5rem;
  height: 3px;
  margin: 5px 2px;
  z-index: 1;
  transition: all 0.2s ease-out;
}

/* add menu close to chage burger menu to x */
.toggle-menu.close .toggle-menu__bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-menu.close .toggle-menu__bar:nth-child(2) {
  opacity: 0;
}
.toggle-menu.close .toggle-menu__bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.main-nav {
  /* opacity: 0.9; */
  visibility: hidden;
  transition: all 0.2s ease-out;
  transform: translate3d(0, -100%, 0);
}

.main-nav.show-menu {
  transform: translate3d(0, 0, 0);
  /* display: block; */
  visibility: visible;
}

.main-nav__lists {
  background-color: rgba(49, 49, 49, 0.95);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* transition: all 0.5s ease-out; */
}

.main-nav__list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* width: 30%; */
  margin: 1rem;
  padding: 5px;
  text-transform: uppercase;
  /* transition: all 0.5s ease-out; */
}

.main-nav__list:hover,
.main-nav__list:active {
  background: #cecece;
  box-shadow: 0 2px 2px 1px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #464646;
}

.main-nav__list a {
  /* padding: 15px; */
  text-decoration: none;
  color: #efefef;
}

/* section 1: banner-hero */

.banner-hero {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100vh;
}

.banner-hero__labels {
  height: 100%;
  width: 100%;
  color: #cecece;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.banner-hero__title {
  font-size: 3rem;
  padding: 0 0.2rem;
  margin: 0;
}

.banner-hero__subtitle {
  font-size: 1rem;
  padding: 0 0.2rem;
  margin: 0;
}

.banner-hero__background {
  /* background-image: url("https://images.unsplash.com/photo-1532186773960-85649e5cb70b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;w=100&amp;q=80"); */
  background-image: url("../src/bg500.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* section 2: projects */

.project-list {
  display: flex;
  flex-flow: column wrap;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  flex: 1;
  display: flex;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-list__labels {
  padding: 2px 16px;
}

/* responsive */
@media only screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
  .main-nav {
    visibility: visible;
    position: relative;
    height: 100%;
    margin: auto;
    transform: none;
  }
  .main-nav__lists {
    flex-direction: row;
  }

  .main-nav__list {
    border-bottom: none;
  }

  .banner-hero__background {
    background-image: url("../src/bg1000.jpeg");
  }

  .banner-hero__labels {
    align-items: flex-start;
  }

  .banner-hero__title {
    font-size: 3.5rem;
    padding: 0 0.7rem;
  }
  .banner-hero__subtitle {
    font-size: 1.5rem;
    padding: 0 0.7rem;
  }
  /* manually remove padding from fixed navbar */
  #project {
    padding-top: 32px;
    margin-top: -32px;
  }

  #about {
    padding-top: 32px;
    margin-top: -32px;
  }

  /* section 2 */
  .project-list {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    flex: 1;
    display: flex;
    margin: 5px;
    /* height: 200px; */
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 900px) {
  .banner-hero__background {
    background-image: url("../src/bg2000.jpeg");
  }
  .banner-hero__title {
    font-size: 3.8rem;
    padding: 1rem;
  }
  .banner-hero__subtitle {
    font-size: 1.8rem;
    padding: 0 1rem;
  }
}

/* utility */
